.meter {
  width: 300px;
  height: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.slider {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr; /* IE */
  width: 20px;
  height: 300px;
  margin-bottom: 20px;
}

.sections {
  display: flex;
  flex-direction: column;
}

.section {
  width: 20px;
  height: calc(100% / 7);
  background-color: lightgray;
  margin-bottom: 5px;
}
